header{
    background-color: rgb(39, 120, 32);
height: 50px;
border-color:white;
border-style: dashed;
border: 50%;

}
nav{
    list-style: none;
    text-align: center;
    margin-top: 10px;
    

}


.one-m{
    width:300px;
    height:316px;
    float: left;
    border-radius: 50%;
}
.one-l{
    display: inline-block;
    padding: 0 30px;
    margin: 0 30px;
    background-color:rgb(226, 251, 216);
    border-radius: 20%;
    
    
}
h3{
    background-color: rgb(187, 248, 198);
    color: black;
    height: 30px;
    text-align: center;
}
body{
    background-image: url(./pngtree-green-background-floating-leaves-tree-picture-image_950991.jpg);
}
.one-p{
    font-size: 40px;
    text-align: center;
}
.two-s{
    width: 50%;
    margin: 20px auto;
}
.three-s{
    width: 70%;
    margin: 0 35% ;
    box-sizing: border-box;

}

.two-p{
    width: 20%;
    margin-left: 40%;

    font-size: 20px;

}
.four-s{
    color: rgb(1, 60, 18);
    width: 80%;
    margin: 0 45%;

}